name: Pull Request(Dockerfile)

on:
  pull_request:
    branches:
      - master
    paths:
      - Dockerflie

jobs:
  lint-dockerfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Lint Dockerfile
        run: docker build --check .
